{
  # niente TLS in locale per *.localhost
  auto_https off
}

# ---------- Django ----------
http://django.localhost {
  reverse_proxy django:8000
}

# ---------- Odoo ----------
http://odoo.localhost {
  reverse_proxy odoo:8069
}

# ---------- Redmine ----------
http://redmine.localhost {
  reverse_proxy redmine:3000
}

# ---------- DokuWiki ----------
http://wiki.localhost {
  reverse_proxy dokuwiki:80
}

# ---------- Nextcloud ----------
http://nextcloud.localhost {
  reverse_proxy nextcloud:80
}

# ---------- Mautic ----------
http://mautic.localhost {
  reverse_proxy mautic:80
}

# ---------- n8n ----------
http://n8n.localhost {
  reverse_proxy n8n:5678
}
